{% extends "templates/web.html" %}

{% block header %}
<div class="mb-6">{{ title }}</div>
{% endblock header %}

{% block header_actions %}

{% endblock %}

{% block page_content %}
<div class="row">    
    <div class="col-sm-4">
        <div class="card text-white bg-success mb-1">
            <div class="card-header">{{ title }}</div>
            <div class="card-body">
                <h5 class="card-title">Technical data</h5>
                <p class="card-text">
                <table class="table table-sm text-white bg-secondary">
                    <tbody>
                        <tr>
                            <th>Model year:</th>
                            <td>{{ vehicle.FROM_YEAR }} - {{ vehicle.TO_YEAR }}</td>
                        </tr>
                        <tr>
                            <th>Performance:</th>
                            <td>{{ vehicle['Engine output in kW'] }} kW - {{ vehicle['Engine output in HP'] }} HP</td>
                        </tr>
                        <tr>
                            <th>Capacity:</th>
                            <td>{{ vehicle['Engine capacity in cc (technical value)'] }} cc - {{ vehicle['Engine capacity in litre *100 (99V99)'] }} lt</td>
                        </tr>
                        <tr>
                            <th>Cylinders:</th>
                            <td>{{ vehicle['Number of cylinders'] }}</td>
                        </tr>
                        <tr>
                            <th>Valves:</th>
                            <td>{{ vehicle['Number of valves'] }}</td>
                        </tr>
                        <tr>
                            <th>Body style:</th>
                            <td>{{ vehicle['Body type'] }}</td>
                        </tr>
                        <tr>
                            <th>Drive type:</th>
                            <td>{{ vehicle['Drive type'] }}</td>
                        </tr>
                        <tr>
                            <th>Engine type:</th>
                            <td>{{ vehicle['Engine type'] }}</td>
                        </tr>
                        <tr>
                            <th>Engine codes:</th>
                            <td>{{ vehicle['Engine numbers'] }}</td>
                        </tr>
                        <tr>
                            <th>Fuel type:</th>
                            <td>{{ vehicle['Fuel type'] }}</td>
                        </tr>
                        <tr>
                            <th>Fuel preparation:</th>
                            <td>{{ vehicle['Fuel mixture formation'] }}</td>
                        </tr>
                        <tr>
                            <th>TecDoc type no:</th>
                            <td>{{ vehicle['ID'] }}</td>
                        </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
        <div class="card text-white bg-secondary">
            <div class="card-header">{{ title }}</div>
            <div class="card-body">
                <h5 class="card-title">Technical data</h5>
                <p class="card-text">
                <table class="table table-sm text-white bg-secondary">
                    <tbody>
                        <tr>
                            <th>Model year:</th>
                            <td>{{ vehicle.FROM_YEAR }} - {{ vehicle.TO_YEAR }}</td>
                        </tr>
                        <tr>
                            <th>Performance:</th>
                            <td>{{ vehicle['Engine output in kW'] }} kW - {{ vehicle['Engine output in HP'] }} HP</td>
                        </tr>
                        <tr>
                            <th>Capacity:</th>
                            <td>{{ vehicle['Engine capacity in cc (technical value)'] }} cc - {{ vehicle['Engine capacity in litre *100 (99V99)'] }} lt</td>
                        </tr>
                        <tr>
                            <th>Cylinders:</th>
                            <td>{{ vehicle['Number of cylinders'] }}</td>
                        </tr>
                        <tr>
                            <th>Valves:</th>
                            <td>{{ vehicle['Number of valves'] }}</td>
                        </tr>
                        <tr>
                            <th>Body style:</th>
                            <td>{{ vehicle['Body type'] }}</td>
                        </tr>
                        <tr>
                            <th>Drive type:</th>
                            <td>{{ vehicle['Drive type'] }}</td>
                        </tr>
                        <tr>
                            <th>Engine type:</th>
                            <td>{{ vehicle['Engine type'] }}</td>
                        </tr>
                        <tr>
                            <th>Engine codes:</th>
                            <td>{{ vehicle['Engine numbers'] }}</td>
                        </tr>
                        <tr>
                            <th>Fuel type:</th>
                            <td>{{ vehicle['Fuel type'] }}</td>
                        </tr>
                        <tr>
                            <th>Fuel preparation:</th>
                            <td>{{ vehicle['Fuel mixture formation'] }}</td>
                        </tr>
                        <tr>
                            <th>TecDoc type no:</th>
                            <td>{{ vehicle['ID'] }}</td>
                        </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>

    <div class="col">

    </div>

</div>
{% endblock %}