{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ _('Vehicle') }}</h1>
<div class="container">
    <h2>{{ vehicle.MANUFACTURER }} - {{ vehicle.MODEL }} - {{ vehicle.TYPE }}</h2>
    <div class="row pt-4">
        <div class="col-3">
            <table class="table">
                <tbody>
                    {% for field, value in vehicle.items() %}
                    <tr>
                        <td>{{ field }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}