{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ _('Models') }}</h1>
<div class="container">
    <h2>{{ brand }}</h2>
    <div class="row mb-4">
        <div class="col-md-4">
            <input type="text" class="form-control" id="models_searchKey" placeholder="Search...">
        </div>
        <div class="col-md-4">
            <select class="form-control" id="models_yearFilter">
                <option value="0">- All Years -</option>
                {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" id="resetFilter">Reset Filter</button>
        </div>
    </div>  
    <table class="table">
        <thead>
            <tr>
                <th>Model</th>
                <th>Years</th>
            </tr>
        </thead>
        <tbody>
            {% for item in models %}
            <tr class="models_card_container" data-name="{{ item.MODEL | lower }}">
                <td>
                    <a href="/brands/models/types?vehicle_type={{ vehicle_type }}&KMODNR={{ item.KMODNR }}&needyear={{ needyear }}">
                        {{ item.MODEL }}
                    </a>
                </td>
                <td>{{ item.FROM_YEAR }} - {{ item.TO_YEAR }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}