{% extends "theodoulou/templates/pages/vehicles.html" %}

{% block header_actions_2 %}
<div class="input-group mr-2">
    <input type="text" class="form-control" id="searchKey" placeholder="Search..." aria-label=" Search"
        aria-describedby="btnGroupAddon">
</div>
<div class="input-group mr-2">
    <select class="form-control" id="yearFilter">
        <option value="0">- All Years -</option>
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
</div>
<div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary clearSearch" title="Clear">Clear</button>
</div>
{% endblock %}

{% block left_content %}
<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Years</th>
        </tr>
    </thead>
    <tbody>
        {% for item in models %}
        <tr class="searchContainer" data-name="{{ item.MODEL | lower }}">
            <td>
                <a <a class="btn btn-primary" title="View {{ item.MODEL }}"
                href="/brands/models/types?BrandClass={{BrandClass}}&ManNo={{ ManNo }}&KModNo={{ item.KModNo }}&needyear={{ needyear }}">
                    {{ item.MODEL }}
                </a>
            </td>
            <td>{{ item.FROM_YEAR }} - {{ item.TO_YEAR }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}