{% extends "theodoulou/templates/pages/vehicles.html" %}

{% block left_content %}
<div class="card text-white bg-info text-white shadow">
    <div class="card-header">Technical data</div>
    <div class="card-body">
        <table class="table table-sm text-white">
            <tbody>
                {% for key, value in vehicle.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <input type="hidden" id="vehicle_name" value="{{ title }}">
</div>
{% endblock %}