{% extends "theodoulou/templates/pages/vehicles.html" %}

{% block header_actions_2 %}
<div class="input-group mr-2">
    <input type="text" class="form-control" id="searchKey" placeholder="Search..." aria-label=" Search"
        aria-describedby="btnGroupAddon">
</div>
<div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary clearSearch" title="Clear">Clear</button>
</div>
{% endblock %}

{% block left_content %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Years</th>
        </tr>
    </thead>
    <tbody>
        {% for item in types %}
        <tr class="searchContainer" data-name="{{ item.TYPE | lower }}">
            <td>{{ item.KTypNo }}</td>
            <td><a class="btn btn-primary" title="View {{ item.TYPE }}"
                    href="/brands/models/types/vehicle?BrandClass={{BrandClass}}&ManNo={{ManNo}}&KModNo={{KModNo}}&needyear={{ needyear }}&KTypNo={{ item.KTypNo }}">{{
                    item.TYPE }}</a></td>
            <td>{{ item.YEARS }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}