{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ _('Models') }}</h1>
<div class="container">
    <h2>{{ brand }} - {{ model }}</h2>
    <div class="row pt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Years</th>
                </tr>
            </thead>
            <tbody>
                {% for item in types %}
                <tr>
                    <td><a href="/vehicle?ID={{ item.ID }}&vehicle_type={{ vehicle_type }}">{{ item.TYPE }}</a></td>
                    <td>{{ item.YEARS }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}