{% from "theodoulou/templates/includes/macros.html" import render_node %}
{% extends "templates/web.html" %}

{% block header %}
<div class="mb-6">{{ title }}</div>
{% endblock header %}

{% block header_actions %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <form class="form-inline mr-2" action="/search/products" method="get">
        <div class="form-group mr-2">
            <input type="text" class="form-control" id="product_id" name="product_id" placeholder="Number, Article, OE...." aria-label="Search" aria-describedby="btnGroupAddon">
        </div>
        <button type="submit" class="btn btn-primary">Go</button>
      </form>  
      <form class="form-inline mr-2" action="/search/vehicles" method="get">
        <div class="form-group mr-2">
            <input type="text" class="form-control" id="vehicle_id" name="vehicle_id" placeholder="Engine" aria-label="Search" aria-describedby="btnGroupAddon">
        </div>
        <button type="submit" class="btn btn-primary">Go</button>
      </form>    
    {%- block header_actions_2 -%}{%- endblock -%}
</div>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col">
        {%- block left_content -%}{%- endblock -%}
    </div>
    {% if categories_tree %}
    <div class="col-sm-1 col-md-3" id="vehicleActiveSelectionContainer" style="display: none;">
        <div class="border rounded mb-1 p-1">
            <button type=" button" class="btn btn-sm float-right" id="vehicleActiveSelectionClear"
                title="Clear selection">
                ❌
            </button>
            <p class="h6">{{ _("Current Selection") }}</p>
            <small id="vehicleActiveSelectionName">
                <a href="#" class="text-success" id="vehicleActiveSelectionNameTitle"></a>
            </small>
        </div>
        <div class="border rounded p-1">
            {{ render_node(categories_tree) }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}