{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ _('Models') }}</h1>
<div class="container">
    <div class="row" id="models">
        <h2>{{ brand }}</h2>
        <input type="text" class="form-control" id="models_searchKey" placeholder="Search...">
        {% for item in models %}
        <div class="col-12 col-md-6 col-lg-3 py-3 card-container models_card_container"
            data-name="{{ item.MODEL | lower }}">
            <div class="card border">
                <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.MODEL }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.MODEL }}</h5>
                    <p>{{ item.YEARS }}</p>
                    <a href="/models?KMODNR={{ item.KMODNR }}&type=PKW" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}