{% extends "templates/web.html" %}

{% block header %}
<div class="mb-6">{{ title }}</div>
{% endblock header %}

{% block header_actions %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">    
    <div class="input-group mr-2">
        <input type="text" class="form-control" id="searchKey" placeholder="Search..."" aria-label=" Searcg"
            aria-describedby="btnGroupAddon">
    </div>
    <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary clearSearch" title="Clear">Clear</button>
    </div>
</div>

{% endblock %}

{% block page_content %}
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Years</th>
        </tr>
    </thead>
    <tbody>
        {% for item in types %}
        <tr class="searchContainer" data-name="{{ item.TYPE | lower }}">
            <td><a href="/pc/models/types/vehicle?vehicle_id={{ item.ID }}&brand_id={{ brand_id }}&model_id={{ model_id }}&needyear={{ needyear }}">{{ item.TYPE }}</a></td>
            <td>{{ item.YEARS }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}