{% extends "templates/web.html" %}

{% block header %}
<div class="mb-6">{{ _('Passenger Cars') }}</div>
{% endblock header %}

{% block header_actions %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group mr-2">
        <input type="text" class="form-control" id="searchKey" placeholder="Search..."" aria-label=" Searcg"
            aria-describedby="btnGroupAddon">
    </div>
    <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary clearSearch">Clear</button>
    </div>
</div>

{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col">
        <p>{{ _('Parts Groups') }}</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            {% for name, data in categories_tree.items() %}
            <div class="card">
                <a href="/pc/models?needyear=0&category_id={{ data.id }}" class="card-body border text-white bg-info">
                    {{ name }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <div class="row">
            <button type="button" class="col btn btn-secondary showAll">Showing only popular brands. Click to show
                all</button>
            <button type="button" class="col btn btn-secondary showPopular">Showing all brands. Click to show only
                popular</button>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
            {% for item in brands %}
            <a href="/pc/models?needyear=0&brand_id={{ item.HERNR }}" class="btn btn-outline-secondary searchContainer"
                data-name="{{ item.NAME | lower }}">
                {{ item.NAME }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}