/* Hide the nested list */
.tree ul {
    display: none;
    list-style-type: none;
}

.tree li {
    list-style-type: none;
}

/* Show the nested list when the list item is expanded */
.tree .caret::before {
    content: "▶";
    cursor: pointer;
}

.tree .caret-down::before {
    content: "▼";
}

.caret:hover {
    cursor: pointer;
}

.hover-white:hover {
    background-color: #eee;
}