{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ _('Brands') }}</h1>
<ul class="nav nav-tabs" id="brandsTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="passenger_cars-tab" data-toggle="tab" href="#passenger_cars" role="tab" aria-controls="passenger_cars"
            aria-selected="true">Personal Cars</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="commercial_cars-tab" data-toggle="tab" href="#commercial_cars" role="tab" aria-controls="commercial_cars"
            aria-selected="false">Commercial Cars</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="passenger_cars" role="tabpanel" aria-labelledby="passenger_cars-tab">
        <div class="row">
            <input type="text" class="form-control m-4" id="passenger_cars_searchKey" placeholder="Search...">
            {% for item in passenger_cars %}
            <div class="col-12 col-md-6 col-lg-3 py-3 card-container passenger_cars_card_container"
                data-name="{{ item.NAME | lower }}">
                <div class="card border">
                    <a href="/brands/models?HERNR={{ item.HERNR }}&vehicle_type=PKW&NEEDYEAR=0" class="btn btn-secondary">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.NAME }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane" id="commercial_cars" role="tabpanel" aria-labelledby="commercial_cars-tab">
        <div class="row">
            <input type="text" class="form-control m-4" id="commercial_cars_searchKey" placeholder="Search...">
            {% for item in commercial_cars %}
            <div class="col-12 col-md-6 col-lg-3 py-3 card-container commercial_cars_card_container"
                data-name="{{ item.NAME | lower }}">
                <div class="card border">
                    <a href="/brands/models?HERNR={{ item.HERNR }}&vehicle_type=NKW&NEEDYEAR=0" class="btn btn-secondary">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.NAME }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}