{% macro render_node(node) %}
<ul class="tree">
    {% for name, data in node.items() %}
    <li>
        {% if data.children %}
        <span class="caret">{{ name }}</span>
        {% else %}
        <a href="/pc/models/types/vehicle/products?node_id={{ data.id }}">{{ name }}</a>
        {% endif %}
        {% if data.children %}
        {{ render_node(data.children) }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro active_vehicle(categories_tree) %}
<div class="col"id="vehicleActiveSelectionContainer" style="display: none;">
    <div class="card text-white bg-success mb-1">
        <div class="card-header">{{ _("Current Selection") }}</div>
        <div class="card-body">
            <p class="card-text" id="vehicleActiveSelectionName"">
                <button type=" button" class="btn btn-danger btn-sm float-right" id="vehicleActiveSelectionClear"
                title="Delete">
                x
                </button>
                <a href="#" id="vehicleActiveSelectionNameTitle"></a>
            </p>
        </div>
    </div>
    {{ render_node(categories_tree) }}
</div>
{% endmacro %}