{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ _('Products') }}</h1>
<div class="container">
    <div class="row pt-4">
        <div class="col-12">
            <table class="table">
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td><a href="/product?dlnr={{ product.DLNR }}&artnr={{ product.ARTNR }}">{{ product.NAMEPRODUCT }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
</div>
{% endblock %}