{% from "theodoulou/templates/includes/macros.html" import render_pagination %}
{% extends "theodoulou/templates/pages/vehicles.html" %}

{% block header_actions %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group mr-2">
        <select class="form-control" id="searchType">
            <option value="">-- Select manufacturer --</option>
            {% for item in manufacturers %}
            <option value="{{ item.DLNR }}">{{ item.MARKE }}</option>
            {% endfor %}
        </select>
    </div>   
</div>
{% endblock %}

{% block left_content %}
<input type="hidden" id="node_name" value="{{ active_node.NAME }}">
<input type="hidden" id="node_id" value="{{ active_node.ID }}">
{% if products|length == 0 %}
<div class="alert alert-warning" role="alert">
    {{ _("No products found") }}
</div>
{% else %}
<p class="text-muted">{{ _("Total") }} {{ total_products }} {{ _("products") }}</p>
<div class="row">
    {% for item in products %}
    <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
        <div class="card-body text-center shadow rounded">
            <img src="{{ item.PATH }}" class="rounded mx-auto d-block" style="max-height: 200px;">
            <h5 class="card-title">{{ item.NAMEPRODUCT }}</h5>
            <p class="card-text">{{ item.MARKE }}</p>
            <a href="/pc/models/types/vehicle/products/product?manufacturer_id={{ item.DLNR }}&product_id={{ item.ARTNR }}" class="btn btn-primary">{{ item.ARTNR }}</a>
        </div>
    </div>
    {% endfor %}
</div>
{{ render_pagination('/pc/models/types/vehicle/products?node_id=' + node_id, page, last_page) }}
{% endif %}
{% endblock %}