{% extends "theodoulou/templates/pages/vehicles.html" %}

{% block left_content %}
<input type="hidden" id="node_name" value="{{ active_node.NAME }}">
<input type="hidden" id="node_id" value="{{ active_node.ID }}">
{% if products|length == 0 %}
<div class="alert alert-warning" role="alert">
    {{ _("No products found") }}
</div>
{% else %}
<div class="row">
    {% for item in products %}
    <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
        <!--
                <img src="{{ item.PATH }}" class="rounded mx-auto d-block" style="max-height: 200px;">
                -->
        <div class="card-body text-center shadow rounded">
            <h5 class="card-title">{{ item.NAMEPRODUCT }}</h5>
            <p class="card-text">{{ item.MARKE }}</p>
            <a href="#" class="btn btn-primary">{{ item.ARTNR }}</a>
        </div>
    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link">{{ page }}</a>
          </li>
        <li class="page-item">
            <a class="page-link" href="/pc/models/types/vehicle/products?node_id={{ node_id }}&page={{ page + 1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}