{% from "theodoulou/templates/includes/macros.html" import render_pagination %}
{% extends "theodoulou/templates/pages/vehicles.html" %}

{% block header_actions_2 %}
<div class="input-group mr-2">
    <select class="form-control" id="searchType">
        <option value="">-- Select manufacturer --</option>
        {% for item in manufacturers %}
        <option value="{{ item.DLNR }}">{{ item.MARKE }}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}

{% block left_content %}
<input type="hidden" id="node_name" value="{{ active_node.NAME }}">
<input type="hidden" id="node_id" value="{{ active_node.ID }}">
{% if products|length == 0 %}
<div class="alert alert-warning" role="alert">
    {{ _("No products found") }}
</div>
{% else %}
<p class="text-muted">{{ _("Total") }} {{ total_products }} {{ _("products") }}</p>
<div class="row">
    {% for item in products %}
    <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
        <a href="/brands/models/types/vehicle/products/product?BrandNo={{ item.DLNR }}&ArtNo={{ item.ARTNR }}"
            class="card shadow rounded bg-info text-white">
            <div class="card-body text-center shadow rounded">
                <!--
            <img src="{{ item.PATH }}" class="rounded mx-auto d-block" style="max-height: 200px;">
            -->
                <h5 class="card-title">{{ item.NAMEPRODUCT }}</h5>
                <p class="badge badge-warning">{{ item.MARKE }}</p>
                <p class="card-text">{{ item.ARTNR }}</p>
                {% if item.shopping_cart %}
                {% set product_info = item.shopping_cart.product_info %}
                {% set price_info = product_info.price %}
                <div class="product-price text-primary">
                    <!-- Final Price -->
                    {{ price_info.formatted_price_sales_uom }}
    
                    <!-- Striked Price and Discount  -->
                    {% if price_info.formatted_mrp %}
                        <small class="formatted-price">
                            <s>MRP {{ price_info.formatted_mrp }}</s>
                        </small>
                        <small class="ml-1 formatted-price in-green">
                            -{{ price_info.get("formatted_discount_percent") or price_info.get("formatted_discount_rate")}}
                        </small>
                    {% endif %}
    
                    <!-- Price per UOM -->
                    <small class="formatted-price ml-2">
                        ({{ price_info.formatted_price }} / {{ product_info.uom }})
                    </small>
                </div>
                <div class="mt-2 bg-white border rounded">
                    {% if product_info.get("on_backorder") %}
                        <span class="no-stock out-of-stock" style="color: var(--primary-color);">
                            {{ _('Available on backorder') }}
                        </span>
                    {% elif product_info.in_stock == 0 %}
                        <span class="no-stock out-of-stock">
                            {{ _('Out of stock') }}
                        </span>
                    {% elif product_info.in_stock == 1 %}
                        <span class="in-green has-stock">
                            {{ _('In stock') }}
                            {% if product_info.show_stock_qty and product_info.stock_qty %}
                                ({{ product_info.stock_qty }})
                            {% endif %}
                        </span>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{{ render_pagination('/brands/models/types/vehicle/products?node_id=' + node_id, page, last_page) }}
{% endif %}
{% endblock %}